.div_outer {
  display: table;
  position: relative;
  overflow: hidden;
  height: 122px;
  width: 595px;
  text-align: left;
  line-height: normal;
}
.div_middle {
  position: absolute;
  top: 50%;
  display: table-cell;
  vertical-align: middle;
}
.div_inner {
  position: relative;
  top: -50%;
  left: -50%;
}

.userMainBox {
  width: 595px;
  overflow: hidden;
  text-align: center;
  border: solid 1px;
}
.user_top {
  height: 122px;
  width: 595px;
  background: #fff;
  position: relative;
  text-align: center;
  overflow: hidden;
  z-index: 0;
}
.user_top_image {
  height: 0px;
  width: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.user_content {
  background-color: #c4d7eb;
}
.user_divider_box {
  text-align: center;
}
.user_divider {
  height: 45px;
  margin: 5px auto;
  padding: 0px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/line2.png);
}

.user_content_lightbg a,
.user_content_lightbg div,
.user_content_lightbg td {
  color: #000000;
}

.user_content_darkbg a,
.user_content_darkbg div,
.user_content_darkbg td {
  color: #ffffff;
}

.user_content .guestbookcomment div {
  color: #000000;
}

.user_content #cmpBalloon div {
  color: #000000;
}

.user_content .btn_s_kontakt span {
  color: #ffffff;
}

.user_title {
  color: #fff;
  font-size: 30px;
  margin: 0;
  font-weight: normal;
}

/* for cmpRichText */
.cmprichtext_userskin {
  font-family: "Trebuchet MS", Tahoma, Geneva, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 12px;
  text-align: left;
  background-color: #c4d7eb;
}

/* for guestbook */
.sortLink {
  color: #000000;
}
.tmpLink a {
  color: #000000;
}

a.slideShowLink,
a.slideshowmailphoto,
a.backLink,
.loaderTitle {
  color: #000000 !important;
}

/* for partner template iframe */
.user_content_lightbg #partner-page .partner-frame {
  border: solid 1px #000000;
  color: #000;
}

.user_content_darkbg #partner-page .partner-frame {
  border: solid 1px #ffffff;
  color: #000;
}

.user_divider {
  height: 4px;
  width: 564px;
}

.user_title {
  color: #ffffff;
  z-index: 3;
}
.user_top {
  background-color: #4074a4;
}
.user_top_image {
  height: 122px;
  width: 595px;
  background-repeat: no-repeat;
  background-image: url(images/lines.png);
  z-index: 1;
}
.div_outer {
  height: 122px;
  line-height: 122px;
  width: 595px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  text-align: center;
}

.div_outer {
  display: block;
  top: auto;
  bottom: 5px;
  height: 35px;
  line-height: 35px;
  text-align: left;
}
.div_middle {
  top: 0;
}
.div_inner {
  left: 0;
  top: 0;
  padding-left: 9px;
}
.user_title {
  font-size: 24px;
}
